html{
    scroll-behavior: smooth;
}

#homepage{
    background-color: #ecedff;
}

*{
    margin:0;
    padding: 0;
    font-family: 'Poppins','Arial','Lucida Sans','Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
    
nav{
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
header nav .topnav ul{
    display: flex;
    background-color: white;
    height: 60px;
    border-bottom: 3px solid black;
    align-items: center;
}
.topnav ul li{
    margin: 0px;
    list-style-type: none;
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    margin: 10px 60px 10px 10px;
    background-color: white;
    color: #3b4089;
}
.topnav #myLinks a:hover{
    color: #ff6161;
}
.contactme{
    word-wrap: break-word;
    color: #0a4f5d;
    margin-right: 50px;
}

#intro{
    margin: 0px 5% 0px 5%;
}

.name{
    margin: 0px 0px 0px 0px;
    word-wrap: break-word;
    font-weight: bolder;
    color: #3b4089;
    font-size: 35px;
}
.welcome{
    color: #ff6161;
    font-size: 30px;
    font-weight: bold;
}
#home{
    display : flex;
    padding: 150px 0px 70px 0px;

}
#homeimage{
    max-width: 700px;
}
#homepage ul{
    margin: 50px 0px 50px 50px;
    display : flex;
    list-style-type: none;
    background-color: #ecedff;
}

#homepage ul li{
    margin : 0px 10px auto 10px;
    background-color: #ecedff;
}
#homepage{
    height: 1000px;
}

#github,#linkedin,#gfg,#codechef,#leetcode,#mail{
    border-radius: 100%;
    max-width: 60px;
    max-height: 100px;
    overflow: hidden;
    background-color: #ecedff;
    box-shadow: 0 5px 10px #07708d;
    visibility: visible;
    
}

#bhargavi{
    max-width: 200px;
    max-height: auto;
    padding: 0 30px 0px 30px;
}
#page2{
    background-color: white;
}
#aboutmebox{
    visibility: visible;
    font-weight: bold;
    margin:10px 10px 10px 150px;
    border: 2px black solid;
    color: #424999;
    background-color: #ffb8b8;
    border-radius: 10px;
    align-items: center;
    font-size: 30px;
    padding: 10px 30px 10px 30px;
    box-shadow: 0 5px 10px #424999;
    
}
a:link , a:visited{
    color: #3b4089;
    text-decoration: none;
}
a:hover{
    color: #ff6161;
    text-decoration: underline;
}
#aboutmebox:hover{
    background-color: #f79999;
    text-decoration: none;
}

.aboutme h1,.feedbackform h1{
    text-align: center;
    font-size: 60px;
    padding-top:100px ;
    text-decoration: underline;
    color: #3b4089;
}
.aboutme img{
    max-width: 300px;
    /* margin: 0px 100px 50px 200px; */
    border-radius: 10%;
    border: 5px solid black ;
    margin-right: 50px;
    box-shadow: 0 10px 20px rgb(57, 53, 53);
    
}
.aboutme p{
    font-size: 20px;
    font-weight: bolder;
    text-align: left;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #f79999;
    word-wrap: break-word;
}
.aboume #sde{
    color:#560BAD;
}
header .lines{
    display: none;
    position: absolute;
    right: 10px;
    top: 20px;
    cursor: pointer;
}
header .lines div{
    background-color: black;
    height: 4px;
    width: 50px;
    margin: 3px 3px;
}
.aboutme #name{
    color: black;
    font-size: 30px;
}

.aboutme #aboutsection{
    margin: 60px 10% 100px 10%;
    display: flex;
    text-align: center;
}

footer{
    background: #f1f1f1!important;
    border-top: 4px solid #e2e2e2!important;
    display: flex;
    padding: 20px;
} 
#column1,#column2,#column3{
    padding: 50px 50px 0px 50px;
}

footer ul li{
    margin-right: 0px;
    padding-bottom: 10px;
    color:black;
    font-size: 20px;
    background: #f1f1f1!important;
    list-style-type: none;
}

#heading1 ,#heading2 ,#heading3{
    color: black;
    font-size: 25px;
    font-weight: bold;
    list-style-type: none;
   
}

footer p{
    color: black;
    font-size: 25px;
}

.feedbackform{
    background-color: #f0f1ff;
    padding-bottom: 100px;
}

.feedbackform h1{
    padding: 100px 0px 20px 0px;
    color: #3b4089;
}

.feedback{
    display: flex;
    margin: 0px 0px 0px 100px;
    align-items: center;
    border-radius: 20px;
    box-shadow: #3e4243;
}

.feedbackbox input[type=text] ,.feedbackbox input[type=email]{
    font-size: 15px;
    display: inline-block;
    width: 150%;
    height: 30px;
    border: 1px solid #4d4d51;
    border-radius: 4px;
    box-sizing: border-box;
}

.feedbackbox textarea{
    font-size: 15px;
    display: inline-block;
    border: 1px solid #4d4d51;
    border-radius: 4px;
    width: 150%;
    height: 100px;
    box-sizing: border-box;
}

.feedbackbox{
    font-size: 20px;
    font-weight:bold;
}

.feedbackbox div{
    margin: 25px;
}

.feedbackform #submitbox{
    visibility: visible;
    font-weight: bold;
    margin:10px 10px 10px 80px;
    color: #424999;
    background-color: #ffb8b8;
    border-radius: 10px;
    align-items: center;
    font-size: 30px;
    padding: 10px 30px 10px 30px;
    box-shadow: 0 5px 10px #424999;
}

.feedbackform #submitbox:hover{
    background-color: #f79999;
}

.rating{
    width: 208px;
    height: 40px;
    margin: 0 0 0 0; 
}
.rating label {
    float: right;
    width: 40px;
    height: 40px;
    cursor: pointer;
    
}
.rating label:before {
    content: "\2605";
    font-size: 42px;
    color: #ccc;
    line-height: 1;
}
.rating input{
    display: none;
}
.rating input:checked ~ label:before, .rating:not(:checked) > label:hover:before, .rating:not(:checked) > label:hover ~ label:before {
    color: #ffb703;
}

footer #column2 li a{
    color: black;
    text-decoration: none;
}

footer #column2 li a:hover{
    text-decoration: underline;
}
#certification{
    list-style-type:square; 
    color: #3b4089;
}

header .topnav a.icon{
    display: none;
    position: absolute;
    margin-right: 20px;
    right: 0;
    top: 0;
  }